* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color:  #0078ff;
    --main-color-alt: #1787e0;
    --third-color: #bec3ff;
    --main-transation: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo" , sans-serif;
    background-color: #272727;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 990px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container .main-heading {
    text-align: center;
    color: var(--third-color);
    font-size: 22px;
    line-height: 1.3;
    padding: 4rem 0 4rem;
}
.container  .main-heading h2 {
    font-size: 40px;
    margin: 50px auto;
    width: fit-content;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;

}
.container .main-heading h2::after {
    content: "";
    width: 70%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -10px;
} 
.container .main-heading p {
    width: 60%;
    margin: 10px auto;
}

/* start header  */
.header {
    background-color: #000000e0;;
    /* -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd; */
    position: fixed;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(30px);
    background-color: transparent;
    border-bottom: 2px solid rgpa(0, 0, 0, 0.8);
    box-shadow: 10px 10px 20px #111, -10px -10px 20px #ddd;
}
.header .container {
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width:767px) {
    .header .container {
        height: 100%;
    }
}
.header .logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width:767px) {
    .header .logo {
        width: 100%;
        padding: 10px 0;
    }
}
.header .main-nav {
    display: flex;
}
@media (max-width:767px) {
    .header .main-nav {
        margin: auto;
    }
}
/* [   >    ]  this mean the direct child inside the main-nav                   important*/
.header .main-nav  > li > a {  
    padding: 0 20px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    transform: var(--main-transation);
    overflow: hidden;
    text-decoration: none;
}
@media (max-width:767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 13px;
        height: 40px;
    }
}
.header .main-nav  > li > a:hover {
    color:#1200ff;
    background-color: #fafafa;
    transition: var(--main-transation);
}
.header .main-nav  > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transation);
    overflow: hidden;
}
.header .main-nav  > li > a:hover::before {
    left: 0;
}
/* end header  */
/* start landing  */
.landing {
    background-color: #272727;
    overflow: hidden;
    padding: 4rem 0 5rem;
}
.landing .container {
    display: flex;
    padding-top: 30px;
    position: relative;
}
.landing .container .icons {
    border-radius: 25px;
    position: absolute;
    bottom: 15%;
    display: flex;
    justify-content: space-between;
    animation: foricon 2s 1 ease-in-out;
}
@keyframes foricon {
    0% {
        scale: 0;
    }
    70% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}
.landing .container .icons  a {
    color: var(--third-color);
    font-size: 30px;
    margin: 20px;
}
.landing .container .icons a i {
    transition: 0.2s ease-in-out;
    position: relative;
}
.landing .container .icons a i:hover {
    left: 4px;
}
.landing .container .icons a i.fa-instagram:hover {
    color: #C13584;
}
.landing .container .icons a i.fa-linkedin-in:hover {
    color: #0288D1;
}
.landing .container .icons a i.fa-twitter:hover {
    color: #1DA1F2;
}
.landing .container .icons a i.fa-envelope:hover {
    color: #CA3737;
}
.landing .container .icons a i.fa-facebook:hover {
    color: #3F51B5;
}

.landing .container .content {
    width: 50%;
    padding: 8rem 0 5rem ;
}
.landing .container .content  button {
    cursor: pointer;
    padding: 8px 45px;
    font-size: 22px;
    border-radius: 19px;
    background-color: transparent;
    border: none;
    color: var(--third-color);
    background-color: var(--main-color);
    text-transform: uppercase;
    transition: 0.5s;
    margin-top: 20px;
}
@keyframes forbtn {
    0% {
        scale: 0;
    }
    50% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}
.landing .container .content  button:hover {
    scale: 1.1;
    box-shadow: 0 0 8px white;
}

.landing .image {
    width: 50%;    
    position: relative;
}

.landing .image::before {
    content: "";
    width: 150%;
    height: 70%;
    background-color: #233e5d;
    position: absolute;
    bottom: 0;
    left: 45px;
    border-top-left-radius: 50%;
    animation: moving 1.5s 1 ease-in-out;
}
@keyframes moving {
    0% {
        transform: translateX(670px);
    }
    100% {
        transform: translateX(0);
    }
}
.landing .image img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    animation: forimg 2s 1 ease-in-out;
}
@keyframes forimg {
    from {
        scale: 0;
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        scale: 1;
    }
}
.landing .content .text {
    color: var(--main-color-alt);
    width: 100%;
    font-size: large;
    letter-spacing: 2px;
    animation: movetext 1.5s 1 ease-in-out;
}
@keyframes movetext {
    0% {
        transform: translateX(-480px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}
.landing .content .text h1 {
    color: var(--main-color-alt);
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 7px;
}
.landing .content .text span {
    font-size: 4rem;
}

@media (max-width: 768px) {
    .landing {
        padding-bottom: 0;
    }
    .landing .container {
        flex-direction: column;
    }
    .landing .container .icons {
        bottom: 56%;
        left: 15%;
        flex-direction: column;
        height: fit-content;
    }
    .landing .container .icons a {
        font-size: 22px;
        margin: 10px 0;
    }
    .landing .container .content {
        width: 100%;
        text-align: center;
        order: 2;
        padding-top: 45px;
    }
    .landing .text {
        width: 50%;
        font-size: 10px;
    }
    .landing .image {
        order: 1;
        left: 33%;
    }
}
@media (min-width: 769px) and (max-width: 992px){
    .landing .container .icons {
        bottom: -20px;
        left: 0;
    }
    .landing .text {
        width: 50%;
        font-size: 13px;
    }
    .landing .image {
        width: 69%;
    }
    .landing .image img {
        left: -37px;
        width: 123%;
    }
}
@media (min-width: 993px) and (max-width: 1199px) {
    .landing .container .icons {
        bottom: 5%;
    }
}
.landing .text p.onlyp {
    color: var(--main-color-alt);
    font-size: 25px;
    animation: forp 4s infinite 1.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005) ;
    margin: 0 0 30px;
}
.landing .text p:nth-of-type(2) {
    font-size: 20px;
    line-height: 1.5;
}
/* end landing  */

/* start about me  */
.container .about {
    width: 100%;
    background-color: #061323;
    color: var(--third-color);
    margin: 5rem 0;
    display: flex;
    gap: 30px;
    padding: 40px;
    position: relative;
    box-shadow: 0 0 15px var(--main-color);
    overflow: hidden;
}
.container .about  .know-me {
    width: 50%;
    padding: 0 40px 0 0;
    animation: know 2s 1 ease-in-out;
}
@keyframes know {
    0% {
        transform: translateX(-350px);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}
.about  .know-me h3 ,.about .skills h3 {
    font-size: 25px;
    color: var(--main-color-alt);
    position: relative;
    width: fit-content;
    margin-bottom: 30px;
}
.about .know-me h3::before {
    content: "";
    width: 50%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 25%;
    bottom: -10px;
}
.about .skills h3::before {
    content: "";
    width: 50%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 25%;
    bottom: -10px;
}
.about  .know-me p {
    font-size: 18px;
    line-height: 1.7;
}
.about .know-me button {
    cursor: pointer;
    padding: 8px 45px;
    font-size: 22px;
    border-radius: 19px;
    background-color: transparent;
    border: none;
    color: var(--third-color);
    background-color: var(--main-color);
    transition: 0.5s;
    margin-top: 20px;
}
.about .know-me button:hover {
    scale: 1.1;
    box-shadow: 0 0 8px white;
}
.container .about .skills {
    width: 50%;
    animation: forskill 2s 1 ease-in-out;
}
@keyframes forskill {
    0% {
        transform: translateX(350px);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}
.about .skills .proglang {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.about .skills .proglang .icon {
    width: 23%;
    padding: 10px 0;
    text-align: center;
    border-radius: 16px;
    color: var(--third-color);
    background-color: #000000bf;
    transition: 0.3s ease-in-out;
}
.about .skills .proglang .icon:hover {
    box-shadow: 2px 2px 0px var(--third-color);
    scale: 1.1;
}
.about .skills .proglang .icon i {
    font-size: 24px;
}
.about .skills .proglang .icon p {
    margin: 5px 0;
    font-size: 15px;
}
.about .skills .proglang .icon img {
    width: 27px;
    height: 27px;
}

@media (max-width: 767px) {
    .container .about {
        flex-direction: column;
        width: 82%;
        margin: 65px auto 0;
        padding: 21px;
    }
    .about .skills .proglang .icon {
        width: 30%;
    }
    .container .about  .know-me {
        width: 100%;
    }
    .container .about .skills {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    .about .skills .proglang .icon {
        width: 30%;
    }
}
/* end about me  */
/* start projects  */
.container .box {
    display: grid;
    grid-template-columns: repeat(3 , 31.3%);
    gap: 20px;
}
.container .box .card {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: var(--third-color);
    border-radius: 13px;
    height: 20rem;
}
.container .box .card:first-of-type {
    animation: toup 2s 1 ease-in-out;   
}
.container .box .card:nth-of-type(2) {
    animation: toup 2.2s 1 ease-in-out;   
}
.container .box .card:nth-of-type(3) {
    animation: toup 2.4s 1 ease-in-out;   
}
.container .box .card:nth-of-type(4) {
    animation: toup 2.6s 1 ease-in-out;   
}
@keyframes toup {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}
.container .box .card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
}

.container .box .card:hover img {
    opacity: 0.7;
    scale: 1.1;
}
.container .box .card:hover .card-content {
    bottom: 0;
}
.container .box .card .card-content {
    color: var(--third-color);
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: -50%;
    background-color: #10101094;
    backdrop-filter: blur(2px);
    padding: 25px 15px;
    transition: 0.3s ease-in-out;
}
.container .box .card .card-content h2 {
    bottom: 9px;
    left: 20px;
    margin: 0;
    transition: 0.3s ease-in-out;
    /* transition: inset .3s .3s ease-out; */
    text-transform: uppercase;
}
.container .box .card .card-content p , .container .box .card .card-content a {
    max-width: 80%;
    transition: opacity .3s ease-out;
}
.container .box .card .card-content a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}
.container .box .card .card-content a i {
    position: relative;
    left: 2px;
    top: 2px;
    transition: 0.3s;
}
.container .box .card .card-content a:hover i {
    left: 8px;
}
@media (max-width: 767px) {
    .container .box {
        grid-template-columns: repeat(1 , 70%);
    }
    .container .box .card {
        left: 50%;
        transform: translateX(-25%);
    } 
}
@media (min-width: 768px) and (max-width: 950px) {
    .container .box {
        grid-template-columns: repeat(2 , 50%);
    }
}
@media (min-width: 951px) {
    .container .box {
        grid-template-columns: repeat(3 , 31.3%);
    }
}
/* end projects  */
/* start contact  */
.container .contact-me form {
    width: 90%;
    margin: 25px auto 95px;
    background-color: #061323;
    padding: 50px;
    color: var(--third-color);
    border-radius: 15px;
    box-shadow: 0 0 15px var(--main-color);
    overflow: hidden;
}
::placeholder {
    color: gray;
}
.container .contact-me form div {
    display: flex;
    flex-direction: column;
    margin: 5px 0 22px;
}
.container .contact-me form label {
    margin: 15px 0;
    font-size: 19px;
}
.container .contact-me form input {
    padding: 17px;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: gray;
}
.container .contact-me form input:focus ,
.container .contact-me form div textarea:focus {
    outline: none;
    box-shadow: 2px 2px 2px #eee , -2px -2px 2px var(--third-color);

}
.container .contact-me form div textarea {
    padding: 17px;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: gray;
}
.container .contact-me form  button {
    cursor: pointer;
    padding: 8px 34px;
    font-size: 22px;
    border-radius: 19px;
    border: none;
    color: var(--third-color);
    background-color: var(--main-color);
    transition: 0.5s;
    margin-top: 20px;
}
.container .contact-me form button:hover {
    scale: 1.1;
    box-shadow: 0 0 8px white;
}
/* end contact  */
/* start footer  */
footer {
    background-color: #141414;
}
.container .foot {
    text-align: center;
    color: var(--third-color);
    padding: 30px 0;
}
.container .foot h5 {
    font-size: 18px;
}
.container .foot p {
    font-size: 20px;
}
.container .foot .icons {
    border-radius: 25px;
    margin: 34px 0;
}
footer .container .icons  a {
    color: var(--third-color);
    font-size: 30px;
    margin: 20px;
}
footer .container .icons a:hover i {
    transition: 0.3s ease-in-out;
    position: relative;
    bottom: 4px;
}
footer .container .icons a i.fa-instagram:hover {
    color: #C13584;
}
footer .container .icons a i.fa-linkedin-in:hover {
    color: #0288D1;
}
footer .container .icons a i.fa-twitter:hover {
    color: #1DA1F2;
}
footer .container .icons a i.fa-envelope:hover {
    color: #CA3737;
}
footer .container .icons a i.fa-facebook:hover {
    color: #3F51B5;
}
.container .foot .copyright {
    font-size: 20px;
}
.container .foot .copyright span {
    font-size: 30px;
    position: relative;
    top: 5px;
}
.container .foot .copyright p {
    display: inline-block;
    color: var(--main-color);
    font-weight: bold;
}
/* end footer  */
